/*
    admin.css File : admin.js & template_admin.js File's CSS
    (Modified on 2023.01.05)
*/

#inputCSS{
  width: 100%;
  height: 38px;
  border: 2px solid lightgrey;
  border-radius: 8px;
}

table{
  text-align: center;
  border-collapse: collapse;
}

td{
  padding: 5px;
  text-align:center;
  font-weight: bold;
  border:2px solid white;
}
.thCSS{
  height: 10px;
  width: 50%;
  margin: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.thTextCSS{
  width:100%;
  padding: 15px;
}
.tdCSS{
  background-color: #F4F6F6;
}
.top{
    font-size: 40px;
    font-weight: bold;
}
.top_rank{
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.mid{
    font-size: 20px;
}
.footerCSS{
  width: 100%;
  background-color: black;
  padding-top:50px;
  padding-bottom: 50px;
}
.footerTextCSS{
  color: white;
  text-align: center;
  font-size: 18px;
}
.fixedFooter{
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.backgroundCSS{
  background: url("../assets/img/background.jpeg");
  background-size: cover;
  height: 100vh;
}
.containerCSS{
  margin-top: 5vh;
}

.wrapper {
   width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
}
#switch {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid #daa;
  border-radius: 20px;
  transition: 0.2s;
 }
.switch_label:hover {
    background: #efefef;
  }

.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

#switch:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch:checked+.switch_label:hover {
    background: #e55;
}

#switch:checked+.switch_label .onf_btn {
   left: 34px;
   background: #fff;
   box-shadow: 1px 2px 3px #00000020;
}


#tb_activityImage{
  margin:auto;
  border: 0px;
  border-radius: 10px;
}

#bt_change{
  align-items: center;
  border:0px;
  border-radius:20px;
  font-family: 'Jua', sans-serif;
  color:white;
  background:#ee0979;
  font-size: 20px;
}


#td_table{
  width:30vw;
  height:30vw;
  border:0px;
}


#td_background{
  width:20vw;
  height:20vw;
  border-radius:50vw;
  background: black;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
}

#lb_info_select{
  grid-row: 5;
  grid-column: 1;
}

#lb_select_image{
  grid-row: 5;
  grid-column: 2;
}


#bt_info_submit{
  grid-row: 6;
  grid-column: span 2;
  width: 130px;
  font-size:25px;
  border-radius: 20px;
  border:0px;
  font-weight:bold;
  margin-top: 10px;
}

#point_5{
  color: white;
  text-align: center;
  font-size: 2.5vw;
  align-items: center;
  margin: 0px;
  font-family: 'Jua', sans-serif;
  padding: 10px;
}

input[type=file]::file-selector-button {
  width: 130px;
 height: 30px;
 background: #fff;
 border: 1px solid rgb(77,77,77);
 border-radius: 10px;
 cursor: pointer;
 &:hover {
   background: rgb(77,77,77);
   color: #fff;
 }
}


#grid{
  display:grid;
  grid-template-columns: 130px 1fr;
  text-align: center;
  width:400px;
  place-items: center;
}


#ip_id{
  grid-row: 1;
  grid-column: 2;
  place-items: left;
  font-weight: bold;
  padding: 5px;
  border:0px;
}


#ip_id:focus{
  background-color: white;
}

#ip_pwd{
  grid-row: 2;
  grid-column: 2;
  font-weight: bold;
  padding: 5px;
  border:0px;
  margin-top: 5px;
  border-radius:5px;
}

#ip_pwd:focus{
  background-color: white;
}

#ip_pwd2{
  grid-row: 3;
  grid-column: 2;
  font-weight: bold;
  padding: 5px;
  border:0px;
  margin-top: 5px;
  border-radius:5px;
}

#ip_pwd2:focus{
  background-color: white;
}



#bt_login{
  grid-row: 4;
  grid-column: span 2;
  width: 180px;
}

#lb_ID{
  grid-row: 1;
  grid-column: 1;
}

#lb_PWD{
  grid-row: 3;
  grid-column: 1;
}

#lb_PWD{
  grid-row: 2;
  grid-column: 1;
}

#info_grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
}

.closeInfo{
  float: right;
  margin-right: -20px;
  margin-top: -100px;
  font-size: 25px;
}
.infoBlank{
  background-color: #e8e8e85c;
  border: none;
  border-radius: 10px;
  height: 44px;
  width: 220px;
  border-radius: 5px;
}

#lb_info_team{
  grid-row: 1;
  grid-column: 1;
  width:200px;
}

#bt_info_team{
  grid-row: 1;
  grid-column: 2;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  font-family: 'Jua', sans-serif;
  width:180px;
}


#lb_info_id{
  grid-row: 2;
  grid-column: 1;
}

#bt_info_id{
  grid-row: 2;
  grid-column: 2;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  font-family: 'Jua', sans-serif;
  width: 150px;
}


#lb_info_pwd{
  grid-row: 3;
  grid-column: 1;
}

#bt_info_pwd{
  grid-row: 3;
  grid-column: 2;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  font-family: 'Jua', sans-serif;
  width: 150px;
}

#lb_info_img{
  grid-row: 4;
  grid-column: 1;
}


#background_image{
  width: 120px;
  height: 50px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  border: 0;
}

#lb_background_image{
  grid-row: 4;
  grid-column: 2;
  background: #D8EFFB;
  border:0px;
  border-radius:20px;
  font-weight:bold;
  margin:5px;
  width: 180px;
  padding: 5px;
  font-family: 'Jua', sans-serif;
}

/* image_HTML:function */
#captureBtnArea{
  text-align: center;
  margin-top: 30px;
}
#captureBtn{
  background-color: rgb(243, 243, 243);
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 40px;
  font-size: 25px;
}

@media (max-width: 992px) {
  #navbar-grid{
    grid-template-columns: 80vw !important;
  }
  #navbar-header{
    grid-row:1;
    grid-column: 1;
    text-align: left;
  }
  #navbar-item{
    position: relative;
    top: -25px;
    grid-row:2;
    grid-column: 1 !important;
  }
  .navbar-rg-item{
    text-align: left !important;
  }
}

.bt-copy{
  border: 0px;
  border-radius: 10px;
  background:#F4F6F6;
}

.img-copy{
  width:25px;
  border-radius:8px;
}
