/*
    template_user.css File : template_user.js File's CSS
    (Modified on 2023.01.06)
*/
html{
  background-color: white;
}
/* common */
table{
    text-align: center;
    border-collapse: collapse;
}

/* common - main_HTML:function, score_HTML:function */
.headerCSS{
    height: 400px;
}
.footerTextCSS{
    color: white;
    text-align: center;
    font-size: 18px;
}
.footerCSS{
    width: 100%;
    background-color: black;
    padding-top:50px;
    padding-bottom: 40px;
    bottom: 0;
}
.fixedFooter{

    bottom: 0;
    z-index: 1;
  }
#mid_container{
    padding-top: 50px;
    margin-bottom: 1vh;
    padding-bottom: 40px;
    min-height: 100vh;
}
body::-webkit-scrollbar{
    display: none;
}

/* userActivityTable:function */
.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: white;
    font-weight: bold;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.userActivity_td{
    border-bottom: 2px solid black;
    font-size: 25px;
    font-weight: bold;
}
.userActivityTable_css{
    text-align: center;
    margin: auto;
    margin-top:50px;
    width: 80%;
}
td{
    padding: 7px;
}

.deleteBtn{
    border: 0px;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
    height:30px;
}

.tdCSS{
    border-bottom: 2px solid lightgrey;
    word-break:break-all;
}
.tdCSS_snd{
    border-bottom: 0px solid;
    word-break:break-all;
}

/* score_HTML:function */
.top{
    font-size: 40px;
    font-weight: bold;
}
.top_rank{
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.mid{
    font-size: 20px;
}
.mainScreenBtn{
    background: #B0E0E6;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    border: 0px;
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
    height:50px;
}


/* image card css*/

#point_5{
  color: white;
  text-align: center;
  font-size: 2.5vw;
  align-items: center;
  margin: 0px;
  font-family: 'Jua', sans-serif;
  padding: 10px;
  word-break:break-all;
}


#td_table{
  width:30vw;
  height:30vw;
  border:0px;
}


#td_background{
  width:20vw;
  height:20vw;
  border-radius:50vw;
  background: black;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
}


/* image_HTML:function */
#captureBtnArea{
  text-align: center;
  margin-top: 30px;
}
#captureBtn{
  background-color: rgb(243, 243, 243);
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 40px;
  font-size: 25px;
}


#tb_activityImage{
  margin:auto;
  border: 0px;
  border-radius: 10px;
}


.upload_bt{
  width:80px;
  margin:auto;
}


#page-top{
  min-width: 600px;
}
